*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    width: 300px;
    height: 300px;
    border: 2px solid red;
    border-radius: 25px;
    display: inline-block;

}
P{
    color: blueviolet;
}
.class-selector{
    color: blue;
}
#id-selector{
    color: brown;
}
/*sudo class*/
a:link{
    color: green;
}
a:visited{
    color: blue;
}
a:hover{
    color: red;
}
a:active{
    color: blueviolet;
}
.form{
    width: 800px;
    height: 500px;
    border: 2px solid green;
    display: inline-block;
    margin: 30px;
    padding: 40px;
    
}
input:focus{
    border: 2px solid red;
}
form{
    display: flex;
    flex-direction: column;
    border: 1px solid darkgray;
    padding: 20px;
    border-radius: 4px;

}
label{
    display: flex;
    justify-content: space-between;
}