div {
    width: 300px;
    height: 300px;
    border: 2px solid red;
    
}


img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.tea1{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 100%;
}
.tea2{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 50%;
}
.tea3{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 50%;
}