div{
    width: 100px;
    height: 100px;
    border: 2px solid red;
    border-radius: 10px;
}
img{
    width: 200px;
    height: 200px;
}
#tea1{
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
#tea2{
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
#tea{
    width: 100px;
    height: 100px;
    border: 2px solid red;
}